.pob-d-flex-1014-wgstzux {
  display: flex !important;
}

@media screen and (max-width: 1030px) {
  .pob-d-flex-1014-wgstzux {
    display: grid !important;
    width: 100% !important;
  }
  .pob-container-screen-resize-wgstzux {
    width: 100% !important;
  }
  .pob-order-1 {
    order: 1;
  }
  .pob-order-2 {
    order: 2;
  }
  .pob-order-3 {
    order: 3;
  }
  .pob-order-4 {
    order: 4;
  }
  .pob-order-5 {
    order: 5;
  }
  .pob-order-6 {
    order: 6;
  }
}
